{% extends 'base.html' %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/yourqrr.css' %}">
{% endblock %}


{% block body %}

<header>
    <img class="logo" src="{% static 'home_app/images/Logo.png' %}" alt="Logo">
    
    <div>
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
        <a href="/contacts">Contacts</a>
        <a href="/yourqr">My QR-codes</a>
    </div>
</header>

<main>
    <h1 class="my">YOUR QR-codes</h1>
    <div class="qr-qr">
        <div class="qr-container">
            <div class="details">
                <img class="qr-icon" src="{% static 'home_app/images/qr-code.png' %}" alt="">
                <p class="color">color: <span class="black">#000000</span></p>
                <p class="back">background color: <span class="white">#FFFFFF</span></p>
            </div>
        </div>
    </div>
</main>

{% endblock %}