{% extends 'base.html' %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/yourqrr.css' %}">
{% endblock %}


{% block body %}



<main>
    <div class="qwe">
        <div class="qwer">
            <h1>YOUR QR-codes</h1>
            <div class="container">
                <div class="container-settings">
                    <div class="qr-code">
                        <img class="logo-logo" src="{% static 'home_app/images/qr-code.png' %}" alt="">
                        <p>Name: qrlogic.com</p>
                        <p class="pp">Date: 24.01.2025</p>
                    </div>
                    <div class="settings">
                        <div class="color-box-p">
                            <p>color:</p>
                            <input class="input-a" type="color">
                        </div>
                        <div class="color-box">
                            <p>background color:</p>
                            <input class="input-b" type="color">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter">
            <p class="popop">Filters</p>
            <div class="filter-settings">
                <div class="filter-p">
                    <img src="" alt=""> 
                    <div class="name">
                        <input class="date" type="date">
                        <button type="submit" class="fnd" name="button">find</button>
                    </div>
                    <div class="name">
                        <div class="pop"><p class="pppp">Name</p>
                        <input class="text" type="text"></div>
                        <button type="submit" class="fndd" name="button">find</button>
                    </div>  
                </div>
            </div>
        </div>
    </div>           
</main>

{% endblock %}