{% extends 'base.html' %}

{% load static %}

{% block title %}
Manage Subscription Page
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'managesub_app/css/managesub.css' %}">
{% endblock %}

{% block body %}

<header>

    <img class="logo" src="{% static 'home_app/images/Logo.png' %}" alt="Logo">

    <div class="url url-home"><a href="/">Home</a></div>
    <div class="url url-create-qr"><a href="/">Create QR code</a></div>
    <div class="url url-create-qr"><a href="/">My QR codes</a></div>
    <div class="url url-create-qr"><a href="/contacts">Contacts</a></div>
    <div class="url url-user">
        <a href="/account">Dmitriy Pechenyuk</a>
        <button class="log-out"><img class="log-out-icon" src="{% static 'home_app/images/log_out.png' %}" alt="">Log Out</button>
    </div>
</header>
<main>
    <div class="title">
        <h1 class="title-text">Subscription Management Center</h1>
    </div>

    <div class="current-plan">
        <div class="plan-title" ><p class="current-plan-title">Current plan: <b>Free</b></p></div>
        <div class="body-of-plan">
            <div class="info-about-plan">
                <ul>
                    <li>Customize QR codes</li>
                    <li>Up to 100 QR codes </li>
                    <li>QR codes that last forever</li>
                </ul>
            </div>
            <div class="buttons">
                <button class="change-button button">
                    Change Plan
                </button>
                <button class="cancel-button button">
                    Cancel Plan
                </button>
            </div>
        </div>
        
    </div>

</main>

{% endblock %}