@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pridi:wght@200;300;400;500;600;700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Prompt';
}

.all-in-one{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px 10px;
    height: 800px;
    width: 1480px;
    border-radius: 20px;
    background-color: #eeeeee;
}
.settings{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 800px;
    height: 720px;
    background-color: #eeeeee;
    padding: 10px;
    gap: 10px;
    justify-content: center;
    align-items: start;
}
.title{
    height: 73px;
    width: 100%;
    font-size: 36px;
    text-align: center;
}
.url{
    display: flex;
    flex-direction: column;
    width: 690px;
    height: fit-content;
    align-items: start;
    justify-content: center;
    padding: 10px 10px;
    background-color: #ffffff;
    border-radius: 6px;
    gap: 10px;
}
.url-title{
    font-size: 20px;
    color: #7a7979;
}
.input-url{
    width: 670px;
    height: 40px;
    border-radius: 5px;
    padding: 10px 10px;
}
.unknown-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.icon-url{
    height: 40px;
    width: 40px;
}
.color{
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: fit-content;
    width: fit-content;
    border-radius: 6px;
}
.main-color{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 10px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 6px;
}
.background-color{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 10px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 6px;
}
.color-title{
    font-size: 20px;
    color: #7a7979;
}
.input-color{
    height: 60px;
    width: 60px;
    border: none;
}
.entry-logo{
    display: flex;
    flex-direction: row;
    width: 690px;
    height: 260px;
    padding: 10px 10px;
    background-color: #ffffff;
}
.upload-logo{
    width: 260px;
    height: 50px;
}
.delete-logo{
    width: 260px;
    height: 50px;

}

.right-logo{
    display: flex;
    flex-direction: column;
    
}
.left-logo{
    display: flex;
    flex-direction: column;
}

.border-parameters{
    display: flex;
    flex-direction: column;
    width: 690px;
    height: fit-content;
    padding: 10px 10px;
    background-color: #ffffff;
    border-radius: 6px;
    gap: 10px;
}
.icon-parameter{
    width: 40px;
    height: 40px;   
}

.indentation{
    display: flex;
    flex-direction: row;
    gap: 1%;
    justify-content: center;
    align-items: center;
}

.input-indentation{
    width: 96%;
    appearance: none;
    background: #c7c7c7;
    height: 6px;
    color: black;
}

.input-indentation::-webkit-slider-thumb {
    appearance: none;
    width: 14px;
    height: 14px;
    background: #000000;
    border-radius: 50%;
    cursor: pointer;
    
  }


.rounding-corners{
    display: flex;
    flex-direction: row;
    gap: 1%;
    justify-content: center;
    align-items: center;
}

.rounding-corners-title{
    width: fit-content;
}

.input-rounding-corners{
    width: 96%;
    appearance: none;
    background: #c7c7c7;
    height: 6px;
    color: black;
}

.input-rounding-corners::-webkit-slider-thumb {
    appearance: none;
    width: 14px;
    height: 14px;
    background: #000000;
    border-radius: 50%;
    cursor: pointer;
  }