{% extends "base.html" %}

{% load static %}

{% block title %}
Home page 
{% endblock %}

{% block head %}

<link rel="stylesheet" href="{% static 'home_app/css/homee.css' %}">

{% endblock %}


{% block body %}
<header>

    <img class="logo" src="{% static 'home_app/images/Logo.png' %}" alt="Logo">

    <div class="account">
        <div class="account-login"><a href="/user/login">Login</a></div>
        <div class="account-signup"><a href="/user/signup">Sign Up</a></div>
    </div>
    <div class="contact"><a class="contact-url" href="/contacts">Contacts</a></div>
</header>
<main>
    <div class="h1-title">
        <h1>Wanna whip up a QR code? Piece of cake! QRLogic's got you covered!</h1>
    </div>
    <div class="plans">
        <div class="plan">
            <div class="plan-title">
                <p class="plan-title-text">Free</p>
            </div>
            <div class="info-about-plan">
                <div class="info">
                    <ul>
                        <li>1 QR code for up to 6 months</li>
                    </ul>
                </div>
                <div class="pricing">
                    <p class="price">$0</p>
                    <p class="permonth">USD/month</p>
                </div>
            <button class="buy-now">BUY NOW</button>
            </div>
        </div>

        <div class="plan">
            <div class="plan-title">
                <p class="plan-title-text">Standart</p>
            </div>
            <div class="info-about-plan">
                <div class="info">
                    <ul>
                        <li>Includes “Free” plan</li>
                        <li>Up to 10 Custom QR codes</li>
                    </ul>
                </div>
                <div class="pricing">
                    <p class="price">$0</p>
                    <p class="permonth">USD/month</p>
                </div>
            <button class="buy-now">BUY NOW</button>
            </div>
        </div>

        <div class="plan">
            <div class="plan-title">
                <p class="plan-title-text">Pro</p>
            </div>
            <div class="info-about-plan">
                <div class="info">
                    <ul>
                        <li>Includes “Standart” plan</li>
                        <li>Up to 100 QR codes</li>
                    </ul>
                </div>
                <div class="pricing">
                    <p class="price">$0</p>
                    <p class="permonth">USD/month</p>
                </div>
            <button class="buy-now">BUY NOW</button>
            </div>
        </div>
    </div>
</main>
{% endblock %}