body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: row;
    align-items: center;
    padding: 0px 100px;
  }
  
  h1 {
    text-align: center;
    font-size: 36px;
  }
  
  
  .container{
    display: flex;
    width: 1300px;
    height: 800px;
    background-color: #EEEEEE;
    border-radius: 20px;
    padding: 30px 30px;
  }
  
  .container-settings{
    display: flex;
    width: 250px;
    height: fit-content;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 20px 20px;
    border-radius: 8px;
  
  }
  
  
  .qr-code p{
    font-size: 20px;
    text-align: center;
  
    
  }
  
  .logo-logo{
    width: 210px;
    height: 200px;
  }
  
  
  .settings p{
    font-size: 20px;
  }
  
  
  .color-box-p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    gap: 10px;
  }
  
  
  .color-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    gap: 10px;
  }
  
  .input-a{
    border: none;
    width: 50px;
    height: 50px;
    background-color: #FFFFFF;
  }
  
  .input-b{
    border: none;
    width: 50px;
    height: 50px;
    background-color: #FFFFFF;
  }
  
  
  .qwer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  
  
  
  .qwe{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
  
  }
  
  
  .filter{
    display: flex;
    width: fit-content;
    height: fit-content;
    background-color: #EEEEEE;
    border-radius: 20px;
    padding: 15px 19px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
  }
  
  .date{
    width: 227px;
    height: 75px;
    border-radius: 20px;
    background-color: #FFFFFF;
    text-align: center;
    border: none;
  }
  
  .fnd{
    width: 60px;
    height: 40px;
    border-radius: 8px;
    background-color: #FFFFFF;
    border: none;
  }
  
  .name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    border: none;
    gap: 20px;
    
  }
  
  .text{
    width: 205px;
    height: 27px;
    border-radius: 8px;
    background-color: #EEEEEE;
  }
  
  .pppp{
    text-align: center;
    font-size: 18px;
    margin: 0;
  }
  
  
  .fndd{
    width: 60px;
    height: 40px;
    border-radius: 8px;
    background-color: #FFFFFF;
    border: none;
  }
  
  
  .filter-p{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .pop{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 10px 10px;
    border-radius: 20px;
  }
  
  .filter-settings{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .popop{
    font-size: 20px;
    margin: 0;
  }