{% extends 'base.html' %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/createqr.css' %}">
{% endblock %}

{% block title %}

Create QR Code
{% endblock %}
{% block body %}
<main>
    <form method="post">
        {% csrf_token %}
        <div class="all-in-one" >
            <div class="settings">
                <p class="title">Settings</p>
                <div class="url">
                    <div class="unknown-div">
                        <img class="icon-url" src="{% static 'home_app/images/url-icon.png' %}" alt="url-icon.png">
                        <p class="url-title" >URL</p>
                    </div>
                    <input class="input-url" type="text" placeholder="example.com">
                </div>
                <div class="color">
                    <div  class="main-color">
                        <p class="color-title" >color</p>
                        <input class="input-color" name="color" type="color">
                    </div>
                    <div class="background-color">
                        <p class="color-title">background-color</p>
                        <input class="input-color" name="background-color" type="color">
                    </div>
                </div>
                <div class="entry-logo">
                    <div class="left-logo">
                        <div class="logo-icon-div">
                            <img class="logo-icon" src="{% static 'home_app/images/logo-icon.png' %}" alt="logo-icon.png">
                        </div>
                        <!-- <p class="add-logo-title" >Add logo</p> -->
                        <div class="logo-div">
                            <img class="logo-class" src="{% static 'home_app/images/logo-div-icon-standart.png' %}" alt="">
                        </div>
                    </div>
                    <div class="right-logo">
                        <input class="upload-logo" id="upload-logo" name="logo" type="file">
                        <label class="label-upload-logo" for="upload-logo">Upload logo</label>
                        <button class="delete-logo">Delete logo</button>
                    </div>
                </div>
                <div class="border-parameters">
                    <img class="icon-parameter" src="{% static 'home_app/images/parameter-icon.png' %}" alt="parameter-icon.png">
                    <div class="indentation">
                        <p>indentation</p>
                        <input type="range" name="indentation" class="input-indentation" min="1" max="100">
                        <p>38</p>
                    </div>
                    <div class="rounding-corners">
                        <p class="rounding-corners-title" >rounding&nbspcorners</p>
                        <input type="range" name="rounding-corners" class="input-rounding-corners" min="1" max="100">
                        <p>32</p>
                    </div>
                </div>
            </div>



            <div class="qr-code">
                <div class="qr">
                    <img class="qr-c" src="{% static 'home_app/images/qr-code.png' %}" alt="qrcode.png">
                </div>
                <button class="create-qr-code button-qr" type="submit">
                    Create QR-code
                </button>
                <button class="download button-qr" type="submit">
                    Download
                </button>
            </div>
        </div>
    </form>
</main>
{% endblock %}