{% extends 'base.html' %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/createqr.css' %}">
{% endblock %}

{% block body %}
<header>
    <div class="header-container">
        <img class="logo" src="{% static 'home_app/images/Logo.png' %}" alt="Logo">
        <nav class="navigation">
            <a href="/login">Login</a>
            <a href="/generateqr">Generate QR-code</a>
            <a href="/yourqr">Your QR-codes</a>
            <a href="/signup">Sign Up</a>
            <a href="/contacts">Contacts</a>
        </nav>
    </div>
</header>

<main>
    <div class="qr-srttings">
    <p class="colour">colour</p>
    <p class="background">background colour</p>
    <p class="logott">logo</p>
    <p class="border">border settings</p>
    </div>
    <div class="settings"></div>
    <div class="qr-container">
        <form method="post">
            {% csrf_token %}
            <img class="qr-icon" src="{% static 'home_app/images/qr-code.png' %}" alt="">
            <input class="url" placeholder="URL" type="text" name="url">
            <button type="submit" class="generate-btn" name="button">Generate QR-code</button>
            <button type="submit" class="download-btn" name="button">Download</button>
           
            </div>
        </form>
    </div>
</main>
{% endblock %}
