


main {
    width: 100%;
    height: calc(100vh - 120px);
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-block {
    text-align: center;
}

.registration-block h1 {
    font-size: 36px;
    margin-bottom: 40px;
    font-weight: bold;
   
}

.registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration-form label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.registration-form input {
    width: 500px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 25px;
    padding: 0 15px;
    margin-bottom: 20px;
    font-size: 16px;
}

.registration-form button {
    width: 120px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 25px;
    background-color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-transform: lowercase;
    transition: background-color 0.3s ease;
}

.registration-form button:hover {
    background-color: #DADADA;
}